.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

.App  {
position: absolute;
width: 1500px;
height: 1600px;
margin: 0;
padding: 0;
background: url(./images/fixerupper.jpg) no-repeat 0 0;
background-size: contain


}
