/* @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light); */

@font-face {
    font-family: 'Elaine_D02';
    src: url('./fonts/Elaine_D02.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Elaine_D02.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/Elaine_D02.woff') format('woff'), /* Modern Browsers */
        url('./fonts/Elaine_D02.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/Elaine_D02.svg') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

.demoForm3 {
    position: absolute;
    top: 400px;
    width: 1027px;
    margin: 50px 1px 1px 25px;
    background-color: black;
    color: #B6FDBF;
    height: 200px;
    font-family: Helvetica, Arial, sans-serif

}

.demo-txt3 {
    position: relative;
    display: inline-block;
    font-family: 'Elaine_D02';
    font-size: 60px;
    color: #b6fdbf;
    margin: 45px 1px 1px -108px;
    line-height: 100px
    
    
}

.join-txt3  {
    position: relative;
    display: inline-block;
    color: #94AEBF;
    font-size: 28px;
    line-height: 26px;
    padding: 5px 1px 1px 25px
    
}

.join-txt3 span {
    font-size: 16px;
    line-height: 18px
}




.formErrors p  {
    color: white;
    margin: 0

}



@media only screen and (max-width: 950px) {
    /* Tablet only */

    .demoForm3 {
        position: absolute;
        top: 400px;
        margin: 5%;
        width: 925px;
        background-color: black;
        color: #B6FDBF;
        height: 200px;
        font-family: Helvetica, Arial, sans-serif
    
    }

    .demo-txt3  {
        position: absolute;
        display: block;
        font-size: 2.2em;
        margin: 20px 1px 1px 320px  
  
      }     

    .join-txt3 {
        position: relative;
        display: block;
        color: #94AEBF;
        font-size: 28px;
        margin: 100px 1px 1px -115px
    }

    
    
    .join-txt3 span {
            position: relative;
            color: #94AEBF;
            font-size: .7em;
            line-height: 48px
            
        }
        
        


}



    

@media only screen and (max-width: 700px) {
    /* Mobile only */
    .demoForm3 {
        width: 480px;
        height: 200px;
        margin: 0;
        padding: 0;
        top: 400px;
        left: 75px

        }

    .demo-txt3  {
            position: absolute;
            font-size: 1.8em;
            margin: 18px 1px 1px 190px  
        }      
    
    .join-txt3 {
        position: relative;     
        color: #94AEBF;
        font-size: .9em; 
        margin: 115px 1px 1px 15px;
        line-height: .025rem
    }
    
    .join-txt3 span {
            color: #94AEBF;
            font-size: .9em;
            
        }
    
    }

    
