@import url('https://fonts.googleapis.com/css?family=Roboto');

.outer  {
    position: fixed;
    width: 680px;
    margin: 15%;
    height: 146px !important;
    top: 125px
    

}
.demoForm {
    position: relative;
    width: 680px;
    background-color: black;
    height: 160px

}


.demo-txt {
    position: relative;
    display: flex;
    justify-content: center;
    color: #94AEBF;
    padding-top: 10px;
    font-size: 14px
    

}

.chkbox {
    position: absolute;
    width: 750px;

}

.chkbox-txt {
    position: relative;
    width: 875px;

}

.chkbox-txt p {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: whitesmoke;
    margin: 50px 175px 1px;
    text-align: left
}

.check1 {
    position: relative;
    float: left;
    margin: 49px 156px
}

.form-control  {
    background-color: lightgrey;
    border: #999;
    height: 24px;
    width: 220px;
    margin: 11px -130px 15px 180px;
    text-align: left
}

.form-control2  {
    background-color: lightgrey;
    border: #999;
    height: 24px;
    width: 120px;
    margin: 11px 1px 1px 15px;
    text-align: left
}

.form-group   {
    position: relative;
    float: left;
    margin-left: -24px

}


.btn1 {
    position: absolute;
    margin: 10px 156px
    
}

.btn1-primary  {
    color: white;
    cursor: pointer;    
    border-radius: 2px;
    width: 140px;
    height: 28px;
    border-radius: 2px;
    border: red;
    background-color: red
}


.formErrors p {
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0 !important;
    width: 200px;
    color: red

}

input:focus {
    background-color: lightgoldenrodyellow;
    
}

input:hover {
    cursor: pointer
}






@media only screen and (max-width: 1100px) {
    /* Tablet only */
    
    .demoForm {
    
    margin: 15%
    
    }
}

@media only screen and (max-width: 600px) {
    /* Mobile only */
   .outer {
    top: 30px   
   }
   
    .demoForm {
    width: 400px;
    height: 220px;
    margin: 0;
    padding: 0
    }

    .demo-txt {
        width: 300px;
        margin: 53px 1px -7px 46px
        
    }
    .form-group  {
        margin-left: -40px
    }    
    .form-control  {
        margin: 25px 1px 1px 65px 
    }

    .form-control2  {
        width: 350px;
        margin: 10px 1px 1px 3px 
    }
    
    

    .btn1 {
        margin: 10px 24px
        

    }
    
    .btn1-primary  {
        color: white;
        background-color: red;
        width: 355px;
        height: 28px;
        border-radius: 2px;
        border: red
    
    }

    .check1  {
        margin: 55px 25px
    }

    .chkbox-txt  {
        
        width: 400px
        
    }

    .chkbox-txt p {
        
        margin: 54px 45px
    }

    .formErrors p {
        margin-top: 5px

    }


}


